Repository MIPLabCH/nigsp, changes with the labels that .github/labeler.yaml gives for each.
All labels: Documentation, Internal, Testing

Revert "add auto-merge bot"
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/bot.yaml
Labels: Internal

keep separate auto-label
  .github/workflows/bot.yaml
Labels: none

remove duplicate style check
  .circleci/config.yml
Labels: Internal, Testing

Add auto-merge bot for dependabot and pre-commit.ci PRs (#120)
  .circleci/config.yml
  .github/workflows/bot.yaml
Labels: Internal, Testing

fix ruff
  nigsp/operations/graph.py
Labels: none

Update python version
  .github/workflows/pytest.yaml
Labels: none

isort and pydocstyle within ruff
  .pre-commit-config.yaml
  nigsp/io.py
  nigsp/operations/timeseries.py
  nigsp/workflow.py
  pyproject.toml
  setup.cfg
Labels: Internal

Also update a few things
  .gitattributes
  .zenodo.json
  setup.cfg
Labels: Internal

Fix conftest for new osf
  nigsp/conftest.py
Labels: none

Run isort and pydocstyle within ruff (#128)
  .gitattributes
  .pre-commit-config.yaml
  .zenodo.json
  nigsp/conftest.py
  nigsp/io.py
  nigsp/operations/timeseries.py
  nigsp/workflow.py
  pyproject.toml
  setup.cfg
Labels: Internal

Fix possible test issue on pip pre 3.11
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  nigsp/tests/test_io.py
  pyproject.toml
Labels: Internal, Testing

Fix possible test issue on pip pre 3.11 (#129)
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  nigsp/tests/test_io.py
  pyproject.toml
Labels: Internal, Testing

Update versioneer to support python > 3.11
  nigsp/__init__.py
  nigsp/_version.py
  versioneer.py
Labels: Internal

Update versioneer to support python > 3.11 (#130)
  nigsp/__init__.py
  nigsp/_version.py
  versioneer.py
Labels: Internal

Add possibility to fill missing parcels when extracting timeseries
  nigsp/blocks.py
  nigsp/cli/run.py
  nigsp/operations/laplacian.py
  nigsp/operations/nifti.py
  nigsp/tests/test_nifti.py
  nigsp/workflow.py
Labels: Testing

Fix deprecations and runtime warnings
  nigsp/blocks.py
  nigsp/operations/nifti.py
  setup.cfg
Labels: Internal

Bump python test versions
  .circleci/config.yml
  setup.cfg
Labels: Internal, Testing

Force to take the real part
  nigsp/operations/surrogates.py
  nigsp/tests/test_surrogates.py
Labels: Testing

Try to fix various failures in 3.14 tests
  nigsp/conftest.py
  nigsp/operations/timeseries.py
  nigsp/workflow.py
Labels: none

Update orb
  .circleci/config.yml
Labels: Internal, Testing

Remove curl install
  .circleci/config.yml
Labels: Internal, Testing

Fix
  .circleci/config.yml
Labels: Internal, Testing

Skip GPG validation
  .circleci/config.yml
Labels: Internal, Testing

Try GPG key instead
  .circleci/config.yml
Labels: Internal, Testing

Try fix
  .circleci/config.yml
Labels: Internal, Testing

Update to see if it fixes
  .circleci/config.yml
Labels: Internal, Testing

sudo bubt now it works
  .circleci/config.yml
Labels: Internal, Testing

Add possibility to fill missing parcels when extracting timeseries with "fill_missing" flag/argument and bump supported python version to 3.10-3.14 (#133)
  .circleci/config.yml
  nigsp/blocks.py
  nigsp/cli/run.py
  nigsp/conftest.py
  nigsp/operations/laplacian.py
  nigsp/operations/nifti.py
  nigsp/operations/surrogates.py
  nigsp/operations/timeseries.py
  nigsp/tests/test_nifti.py
  nigsp/tests/test_surrogates.py
  nigsp/workflow.py
  setup.cfg
Labels: Internal, Testing

Update GitHub Actions runner to Ubuntu 22.04
  .github/workflows/auto-release.yml
Labels: none

Update GitHub Actions runner to Ubuntu 22.04 (#134)
  .github/workflows/auto-release.yml
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

.github/labeler.yaml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'logos/*', 'README.md']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.cfg', 'setup.py', 'versioneer.py', '.github/*', '.circleci/*', 'nigsp/_version.py']

Testing:
  - changed-files:
      - any-glob-to-any-file: ['nigsp/tests/*', '.circleci/*']
